.login-container{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-self: center;
   margin-top: 60px;
  
}
.login-form{
    padding:60px;
     height: 300px;
    width: 400px;
    box-shadow: 3px 4px 10px grey;
     border-radius: 7px;
  
}
.email-input{
    width: 300px;
    height: 40px;
    border-radius: 7px;
    margin-bottom: 20px;
    text-align: center;
}
.password-input{
     width: 300px;
    height: 40px;
    border-radius: 7px;
    margin-bottom: 20px;
    text-align: center;

}
.login-button-container{
    text-align: center;
}
.login-button{
    background-color: chocolate;
    color:#ffffff;
    padding: 10px 20px;
    border-width: 0px;
    border-radius: 6px;
    cursor: pointer;
}