.event-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    text-align: center;
    padding: 30px;
}
.event-input{
    margin-top: 50px;
    text-align: center;
    height: 30px;
    width: 400px;
}
